<div class="row">
  <div class="col"></div>
  <div class="search" style="width: 700px;">
    <input class="form-control" type="text" name="firstName" [(ngModel)]="searchText" placeholder="&#61442;">
  </div>
  <div class="col">
  </div>
</div>

<div class="container">
  <table class="table table-bordered table-hover" style="width:1000px;margin-left: 150px;border:black;">
    <thead class="thead-dark">
      <tr>
        <th scope="col" (click)="sort('firstName')">Name&nbsp;<i class="fa fa-sort"></i></th>
        <th scope="col" (click)="sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
        <th scope="col" (click)="sort('phoneNumber')">Phone Number&nbsp;<i class="fa fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers|orderBy:key:reverse|filter:searchText|paginate:{itemsPerPage:20,currentPage:page,totalItems:totalLength}">
        <td><button (click)="onCustomer(customer)" style="border: none;background:none;">{{customer.firstName}}</button>
        </td>
        <td>{{customer.email}}</td>
        <td>{{customer.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
  <div style="display: flex;align-items: center;justify-content: center;">
    <pagination-controls (pageChange)="page = $event" style="padding-right: 15px;"></pagination-controls>
  </div>
</div>