<nav class="navbar bg-dark">
  <a class="navbar-brand" href="#"
    style="font-family:'Raleway',sans-serif;font-style: italic;  color: #ffffff;height: 8vh; font-size: 40px;">
    <img src="https://www.iskraemeco.com/app/uploads/2019/09/ie-favicon-red.png" alt="" width="48" height="46"
      class="d-inline-block align-text-center">
    Customer Management System
  </a>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.age}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.gender}}</td>
    </tr>
  </tbody>
</table>