<!-- 
<div class="container text-center">
  <div class="row">
    <div class="col">
      <button class="btn" style="width: 286px;height: 70px;color:blue;border-color: blue;" (click)="showCust()"> Show
        all
        Customers</button>
    </div>
    <div class="col">
      <button class="btn" style="width: 286px;height: 70px;color: blue;border-color: blue;" data-bs-toggle="modal"
        data-bs-target="#addCustomersModal">Add Customers</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="row">
    <div class="col">
      <button class="btn" style="width: 286px;height: 70px;color:blue;border-color: blue;" (click)="removeCust()">Remove
        Customers</button>
    </div>

    <div class="col">
      <button class="btn" style="width: 286px;height: 70px;color:blue;border-color: blue;" (click)="updateCust()">Update
        Customer
        Details</button>
    </div>
  </div>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="modal fade" id="addCustomersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Add a new Customer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Customer's Name" name="firstName"
            [(ngModel)]="customer.firstName">
          <br>
          <div class="input-group">
            <input class="form-control" (click)="d.toggle()" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
              #d="ngbDatepicker" [minDate]="{year: 1950, month: 1, day: 1}" (ngModelChange)="calculateAge()">  
            <button class="btn btn-calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </div>
          <br>
          <label for="age" class="form-label">Age</label>
          <input value = customer.age class="form-control" id="age" placeholder="Customer's Age" min="0" name="age" [(ngModel)]="customer.age">
          <br>
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Customer's Email Address" name="email"
            [(ngModel)]="customer.email">
          <br>
          <label for="number" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="number" placeholder="Customer's Phone Number" name="phoneNumber"
            [(ngModel)]="customer.phoneNumber">
          <br>
          <label for="">Gender</label>
          <br>
          <div class="gender" style="display: flex;">
            <div>
              <input type="radio" id="male" name="gen" value="male" style="padding-right: 5px;" name="gender"
                [(ngModel)]="customer.gender">
              <label for="male" style="padding-right: 50px;padding-left: 2px;">Male</label>
            </div>
            <div>
              <input type="radio" id="female" name="gen" value="female" name="gender" [(ngModel)]="customer.gender">
              <label for="female" style="padding-right: 50px;padding-left: 2px;">Female</label>
            </div>
            <div>
              <input type="radio" id="other" name="gen" value="other" name="gender" [(ngModel)]="customer.gender">
              <label for="other" style="padding-left: 2px;">Other</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="onSubmit(form)">Add
            Customer</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal fade" id="removeCustomersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Remove a Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Customer's Name">
        <br>
        <label for="email" class="form-label">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Customer's Email Address">
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Remove Customer</button>
      </div>
    </div>
  </div>
</div>
<script>

</script> -->